[project]
	description = java code and maven build project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Gokulk7
[access "refs/for/refs/*"]
	read = group user/Gokulk7
	push = group user/Gokulk7
	label-Code-Review = -2..+2 group user/Gokulk7
	label-Verified = -1..+1 group user/Gokulk7
	rebase = group user/Gokulk7
	removeReviewer = group user/Gokulk7
	submit = group user/Gokulk7
[access "refs/heads/*"]
	read = group user/Gokulk7
	create = group user/Gokulk7
	push = +force group user/Gokulk7
	pushMerge = group user/Gokulk7
[access "refs/tags/*"]
	push = group user/Gokulk7
	push = +force group user/Gokulk7
